<link rel="stylesheet" href="/css/students.css" />

<div class="container mt-4">
  <div class="header">
    <h2>Allocate Students</h2>
  </div>
  <div class="student-table mt-3">
    <% if (students.length == 0) { %> No Students records found. Please create a
    new student.

    <a href="/students/create" id="add-student" target="_blank" rel="noopener noreferrer">Add Student</a>

     <% } else { %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Batch</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">College</th>
          <th scope="col">Dsa</th>
          <th scope="col">Web</th>
          <th scope="col">React</th>
          <th scope="col">Allocate Interview</th>
        </tr>
      </thead>
      <tbody>
        <% for (student of students) {%>
            <tr>
                <td scope="col"><%= student.batch %></td>
                <td scope="col"><%= student.name %></td>
                <td scope="col"><%= student.email %></td>
                <td scope="col"><%= student.college %></td>
                <td scope="col"><%= student.courseScores.dsaFinalScore %></td>
                <td scope="col"><%= student.courseScores.webDFinalScore %></td>
                <td scope="col"><%= student.courseScores.reactFinalScore %></td>
                <td scope="col"><a href="/interviews/<%= interview._id %>/allocate/<%= student._id %>">Allocate</a></td>
            </tr>
        <%}%>
      </tbody>
    </table>
    <% } %>
  </div>
</div>
